<?xml version="1.0" encoding="UTF-8"?>
<flex-config>
<includes append="true">
<symbol>com.dborisenko.robotlegs.spring.cafe.data.Food</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.data.Food</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.data.Food</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.data.Food</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.data.Food</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.data.Food</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.model.CafeModel</symbol>
</includes>
</flex-config>
