<?xml version="1.0" encoding="UTF-8"?>
<flex-config>
<includes append="true">
<symbol>com.dborisenko.robotlegs.spring.cafe.view.component.FoodControlsView</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.view.component.OrderedFoodView</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.view.mediator.FoodControlsMediator</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.view.mediator.OrderedFoodMediator</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.view.component.IFoodControlsView</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.view.component.IOrderedFoodView</symbol>
</includes>
</flex-config>
