<?xml version="1.0" encoding="UTF-8"?>
<flex-config>
<includes append="true">
<symbol>com.dborisenko.robotlegs.spring.cafe.signal.action.CancelFoodOrderSignal</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.signal.action.OrderFoodSignal</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.command.CancelFoodOrderCommand</symbol>
<symbol>com.dborisenko.robotlegs.spring.cafe.command.OrderFoodCommand</symbol>
</includes>
</flex-config>
